{% extends '::base.html.twig' %}

{% block title %}Contact Us{% endblock %}
{% block meta_description %}Please contact us if you have any question about your current reservation or would like to know more about our transportation offers.{% endblock %}

{% block stylesheets %}
    <style>
        p {font-size: 1.2em; line-height: 1.3em;}
        .box
        {
            margin-top: 30px;
            background-color: #DBE9F5;
            border: 5px solid #1064AC;
            -moz-border-radius: 30px;
            -webkit-border-radius: 30px;
            -khtml-border-radius: 30px;
            border-radius: 30px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="box" style="width: 75%; margin-left:auto; margin-right:auto; padding:30px;">
        <div class="page_title">Thanks for contacting us!</div>
        <br />
        <p>We will get back to you as soon as possible!<br />(normally, within 24h)</p>
        <p>Make sure you check out or <a href="{{ path('faq_index') }}">FAQ section</a>, you might find what you are looking for.</p>
    </div>
{% endblock %}
